h1,
h3 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
}

#container {
  background: url('../../../assets/code-coder-codes-2194062.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#menuButton{
  height: 40px;
}
h3 {
  color: #ffffff;
  font-family: 300;
  font-size: 2.5rem;
  letter-spacing: 2.5px;

}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.email{
  font-size: 2.6rem !important;
}
.navLink:hover{
  cursor: pointer;
  color: #F25F5C;
}

.social {
  font-size: 3rem;
  color: #FBB7C0;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(30, 198, 119, 0.7), rgba(30, 198, 119, 0.3));
  z-index: 3;

}

img:hover{
  cursor: pointer;
}

hr{
  background: #ffffff;
  width: 50vw;
}

#secondary{
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heart{
    margin: 0 2rem;
    color: #9A031E !important;
}

#code{
    color: #5F0F40 !important;
}

#nav {
  position: absolute;
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.8rem;
  z-index: 4;
}

img {
  width: 45px;
}




h1 {
  color: #ffffff;
  font-size: 5rem;
  overflow: hidden;
  border-right: .15rem solid #ffffff;
  white-space: nowrap;
  margin: 0 auto;

  letter-spacing: .15rem;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 526px
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #ffffff;
  }
}

@media(max-width: 850px){
  h1{
    font-size: 3rem;
  }
  @keyframes typing {
    from {
      width: 0
    }
  
    to {
      width: 325px
    }
  }

  .navLink{
    font-size: 1.5rem;
  }
  .email{
    font-size: 1.2rem !important;
  }
}

@media(max-width: 414px){
  h1{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem
  }
  @keyframes typing {
    from {
      width: 0
    }
  
    to {
      width: 220px
    }
  }
}