<div id="nav">
  <a routerLink="">
    <i class="fas fa-arrow-alt-circle-left"></i> Home
  </a>
</div>
<div id="background">
  <div id="home" class="container">
    <div id="project">
      <div class="item">
        <h1>Technologies: Angular 8, CSS3, Node.js/Express.js(Email Sender) </h1>
        <hr>
        <a href="https://www.dnadevelopers.net" target='_blank'><img src="../../../assets//Screen Shot 2019-06-29 at 6.37.02 PM.png" alt="picture"></a>
       <a target='_blank'  href="https://www.dnadevelopers.net" class="site" mat-raised-button>DNA Developers Website</a>
       <a class="github" target='_blank' href="https://github.com/DayvonAllen/DnaDevWebsite" mat-raised-button><i class="fab fa-github"></i> Github</a>
      </div>
      <div class="item">
        <h1>Technologies: Angular 8, CSS3, Node.js/Express.js(Weather Script) </h1>
        <hr>
        <a href="#" target='_blank'  href="https://5d1e4118bd3dbf4c0f354d98--stoic-neumann-860424.netlify.com"><img src="../../../assets/Screen Shot 2019-07-04 at 11.26.42 AM.png" alt="picture"></a>
        <a class="site" target='_blank'  href="https://5d1e4118bd3dbf4c0f354d98--stoic-neumann-860424.netlify.com" mat-raised-button>Weather App</a>
        <a  class="github" target="_blank" href="https://github.com/DayvonAllen/WeatherApp" mat-raised-button><i class="fab fa-github"></i> Github</a>
      </div>
      <div class="item">
          <h1 id="last">Technologies: Angular 8, Google Firebase, CSS3 </h1>
          <hr>
        <a target="_blank" href="#"><img src="../../../assets//Screen Shot 2019-06-29 at 6.45.54 PM.png" alt="picture"></a>
        <a target='_blank' href="#" class="site" mat-raised-button>Blog</a>
        <a class="github" target='_blank'  mat-raised-button><i class="fab fa-github"></i> Github</a>
      </div>
    </div>
  </div>
</div>
